*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug-blu{
    background-color: cornflowerblue;

}
.debug-rosso{
    background-color: crimson;

}
.debug-giallo{
    background-color: goldenrod;
}

.debug-white{
    background-color: white;
}

.debug-grey{
    background-color: gainsboro;
}
.debug-black{
    background-color: #272C34;
}

.header{
height: 70px;
background-color: aqua;
display: flex;
    
}

.link{
    height: 30px;
    align-self: center;
    display: flex;
}

.box-logo { 
    width: 20%;
}
.content-link{
 width: 60%;
 display: flex;
 justify-content: center;
 align-self: center;
}
.box-login{
 width: 20%;
 text-align: right;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.hero{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.content-center{
    width: 60%;
    height: 80%;
 } 
 
 .block-blu{
    width: 100%;
    height: 300px;
 }
 .block{
    display: flex;
 }

.block-img{
  width: 60%;
  height: 500px;
}

.block-text{
    width: 40%;
    height: 500px;
}

.sfondo{
 height: 600px;   
 display: flex;
 justify-content: center;
 align-items: center;
}
.sfondo-grande{
    height: 800px;
}

.box-green{
    width: 100%;
    height: 800px;
}

.container-footer{
    display: flex;
    width: 100%;
    max-width: 1200px;
    
}

.sfondo-footer{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collum-grand{
    flex-grow: 2;
    height: 550px;
    margin-bottom: 20px;
    border: solid 1px whitesmoke;

}
.collum-small{
    flex-grow: 1;
    height: 550px;
    border: solid 1px whitesmoke;
}

.border{
    border-bottom: 2px solid green;
   
   
}

.bar-footer{
    height: 60px;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    
}

.box-footer-final{
    display: flex;
    height: 20px;
   
}
